@font-face {
  font-family: November;
  src: url(../fonts/pixChicago.ttf);
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: November;
}

div#header-bar {
    margin: 0px;
    overflow: hidden;
    background-color: #c0d0ff;
    color: black;
    padding: 10px;
    align: center;
}

div#main-content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-weight: bold;
    word-wrap: break-word;
}

a:        {color: #3660ff;text-decoration: none;}
a:link    {color: #3660ff;text-decoration: none;}
a:visited {color: #3660ff;text-decoration: none;}
a:focus   {color: #3660ff;text-decoration: none;}
a:active  {color: #3660ff;text-decoration: none;}
a:hover   {color: #ffffff;text-decoration: none;background-color: #3640ff;}

img.thumbnail {
    height: 128px;
    max-width: 256px;
    margin-right: 8px;
}

div.list_item {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
}
div.list_item:hover {
    background-color: #101020;
}

div.list_item_text_wrapper {
    font-size: 20px;
    font-weight: bold;
    min-height: 128px;
    display: inline-block;
    vertical-align: top;
    max-width: 90%;
    overflow: auto;
}

a.tab-item {
    padding: 8px;
    background-color: white;
}
a.tab-item:hover {
    background-color: #3640ff;
}

