@font-face {
  font-family: 'retro';
  src: url(chikarego.woff2);
}

body {
  font-family: retro !important;
  background-color: #eaeaea;
  max-width: 1024px;
  padding: 8px;
}

::selection {
  color: white;
  background: #202020;
}

p,a {
  font-size: 20px;
}

a:        {color: #3640ff;text-decoration: none;}
a:link    {color: #3640ff;text-decoration: none;}
a:visited {color: #3640ff;text-decoration: none;}
a:focus   {color: #3640ff;text-decoration: none;}
a:active  {color: #3640ff;text-decoration: none;}
a:hover   {color: #ffffff;text-decoration: none;background-color: #3660ff;}

img {
  /* use nearest neighbor scaling */
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

img#kerbal {
  width:48px;
  height:48px;
  border: solid black;
  margin-right: 8px;
}

div.socialtag {
  float: right;
  background-color: white;
  width: fit-content;
  border: solid black;
  padding: 2px;
  color: black;
  margin-right: 8px;
}

div.socialtag:hover {
  background-color: black;
  color: white;
  filter: brightness(1000%);
}

div.socialtag>img {
  width: 32px;
}
