@font-face {
  font-family: 'retro';
  src: url(chikarego.woff2);
}

body {
  font-family: retro !important;
  background-color: #eaeaea;
  max-width: 1024px;
  padding: 8px;
}

::selection {
  color: white;
  background: #202020;
}

p,a {
  font-size: 20px;
}

a:        {color: black;text-decoration: none;}
a:link    {color: black;text-decoration: none;}
a:visited {color: black;text-decoration: none;}
a:focus   {color: black;text-decoration: none;}
a:active  {color: black;text-decoration: none;}
a:hover   {color: white;text-decoration: none;background-color: #3660ff;}

a>* {
  padding-left:2px;
  padding-right:2px;
}

a.postlink>div {
  border: solid #00000000;
  color: black;
  padding-left: 8px;
  margin-top: 0px;
}
a.postlink>div:link    {color: black;}
a.postlink>div:visited {color: black;}
a.postlink>div:focus   {color: black;}
a.postlink>div:active  {color: black;}
a.postlink>div:hover   {
  color: black;
  background-color: white;
  border: solid black;
}

img {
  /* use nearest neighbor scaling */
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

hr {
  border: 1px solid #202020;
}

img#kerbal {
  width:48px;
  height:48px;
  border: solid black;
  margin-right: 8px;
}

div.socialtag {
  float: right;
  background-color: white;
  width: fit-content;
  border: solid black;
  padding: 2px;
  color: black;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

div.socialtag:hover {
  background-color: black;
  border: solid black;
  color: white;
  filter: brightness(1000%);
}

div.socialtag>img {
  width: 32px;
  height: 32px;
}
