@font-face {
  font-family: 'retro';
  src: url(ChiKareGo.ttf);
}

body {
  font-family: retro !important;
  background-color: #eaeaea;
}

p,a {
  font-size: 20px;
}

a:        {color: #3640ff;text-decoration: none;}
a:link    {color: #3640ff;text-decoration: none;}
a:visited {color: #3640ff;text-decoration: none;}
a:focus   {color: #3640ff;text-decoration: none;}
a:active  {color: #3640ff;text-decoration: none;}
a:hover   {color: #ffffff;text-decoration: none;background-color: #3660ff;}
